<!--The content below is only a placeholder and can be replaced.-->
 <div> 
  <h1>Computer List</h1>
  <ul>
    <li *ngFor="let pc of pcList"> Pc type :  {{pc.name}} , year {{pc.year}}  <img src="{{pc.flag}}" width="40" height="40"> <button (click)="buy()">Buy</button>
      </li>
      <br>
      <br>
    <span>Cart <img src="{{cartImg}}" width="50" height="50"> {{cart.items}}</span>
  </ul>
</div>
<div>
  <p>Add new PC to stock</p>
  <form>
  <input type="text" placeholder="computer name"> <br>
  <input type="number" placeholder="year of prodcue"> <br>
  <button (click) ="add()">ADD</button>
  </form>
</div>

